<div class="container">

    <div class="login">

        <div class="login-nav">
            <a href="#">
                S'inscrire
            </a>
            <a routerLink="/dashboard">
                Revenir à l'accueil
            </a>
        </div>

        <div class="login-form">

            <div class="form-header">
                <h2>Se connecter</h2>
            </div>

            <div class="form-container">
                <form action="#" method="post">
                    <div>
                        <label for="identifiant">Identifiant</label>
                        <input id="identifiant" type="text" name="identifiant">
                    </div>
                    <div>
                        <label for="password">Mot de passe</label>
                        <input id="password" type="password" name="password">
                    </div>
                    <input class="button-login" type="submit" value="Se connecter">
                  </form>
            </div>

        </div>

    </div>

</div>