$fontStack: 'Roboto', sans-serif;
$backgroundColor: white;
$mainColor: #2a9d8f;
$secondmainColor: #264653;
$subcontentColor: #e9c46a;
$secondsubcontenctColor: #f4a261;
$highLightColor: #e76f51;
$defaultMargin: 20px;
$defaultBorderRadius: 10px;
$titleFontSize: 20px;
$subtitleFontSize: $titleFontSize * 0.8;
$tinyFontSize: 10px;
$maxWidth: 960px;
$defaultHeight:150px;
$boxShadow: 0px 12px 24px 0px rgba(0,0,0,0.1);
$sm-breakpoint:576px;
$md-breakpoint:768px;
$lg-breakpoint:992px;