$fontStack: 'Roboto', sans-serif;
$backgroundColor: white;
$mainColor: #2a9d8f;
$secondmainColor: #264653;
$subcontentColor: #e9c46a;
$secondsubcontenctColor: #f4a261;
$highLightColor: #e76f51;
$defaultMargin: 20px;
$titleFontSize: 20px;
$subtitleFontSize: $titleFontSize * 0.8;
$tinyFontSize: 10px;
$sm-breakpoint:576px;
$md-breakpoint:768px;
$lg-breakpoint:992px;