<div class="container">

    <div class="dashboard">

        <div class="dashboard-nav">
            <a href="#">
                Ajouter une nouvelle recette
            </a>
            <a href="#">
                Voir toutes les recettes
            </a>
        </div>

        <div class="dashboard-recipes">

            <div class="recipes-header">
                <h2>Les dernières recettes</h2>
            </div>

            <div class="recipes-container">

                <div class="recipe">
                    <a href="#" class="recipe-left">
                        Lasagnes
                    </a>
                    <div class="recipe-right">
                        <div class="right-left">
                            <img src="assets/images/clock.png" />
                            <p class="duration">
                                60min
                            </p>
                        </div>
                        <div class="right-right">
                            <div class="edit">
                                <img src="assets/images/edit.png" />
                            </div>
                            <div class="delete">
                                <img src="assets/images/delete.png" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="recipe">
                    <a href="#" class="recipe-left">
                        Lasagnes
                    </a>
                    <div class="recipe-right">
                        <div class="right-left">
                            <img src="assets/images/clock.png" />
                            <p class="duration">
                                60min
                            </p>
                        </div>
                        <div class="right-right">
                            <div class="edit">
                                <img src="assets/images/edit.png" />
                            </div>
                            <div class="delete">
                                <img src="assets/images/delete.png" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="recipe">
                    <a href="#" class="recipe-left">
                        Lasagnes
                    </a>
                    <div class="recipe-right">
                        <div class="right-left">
                            <img src="assets/images/clock.png" />
                            <p class="duration">
                                60min
                            </p>
                        </div>
                        <div class="right-right">
                            <div class="edit">
                                <img src="assets/images/edit.png" />
                            </div>
                            <div class="delete">
                                <img src="assets/images/delete.png" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="recipe">
                    <a href="#" class="recipe-left">
                        Lasagnes
                    </a>
                    <div class="recipe-right">
                        <div class="right-left">
                            <img src="assets/images/clock.png" />
                            <p class="duration">
                                60min
                            </p>
                        </div>
                        <div class="right-right">
                            <div class="edit">
                                <img src="assets/images/edit.png" />
                            </div>
                            <div class="delete">
                                <img src="assets/images/delete.png" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="recipe">
                    <a href="#" class="recipe-left">
                        Lasagnes
                    </a>
                    <div class="recipe-right">
                        <div class="right-left">
                            <img src="assets/images/clock.png" />
                            <p class="duration">
                                60min
                            </p>
                        </div>
                        <div class="right-right">
                            <div class="edit">
                                <img src="assets/images/edit.png" />
                            </div>
                            <div class="delete">
                                <img src="assets/images/delete.png" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="recipe">
                    <a href="#" class="recipe-left">
                        Lasagnes
                    </a>
                    <div class="recipe-right">
                        <div class="right-left">
                            <img src="assets/images/clock.png" />
                            <p class="duration">
                                60min
                            </p>
                        </div>
                        <div class="right-right">
                            <div class="edit">
                                <img src="assets/images/edit.png" />
                            </div>
                            <div class="delete">
                                <img src="assets/images/delete.png" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="recipe">
                    <a href="#" class="recipe-left">
                        Lasagnes
                    </a>
                    <div class="recipe-right">
                        <div class="right-left">
                            <img src="assets/images/clock.png" />
                            <p class="duration">
                                60min
                            </p>

                        </div>
                        <div class="right-right">
                            <div class="edit">
                                <img src="assets/images/edit.png" />
                            </div>
                            <div class="delete">
                                <img src="assets/images/delete.png" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="recipe">
                    <a href="#" class="recipe-left">
                        Lasagnes
                    </a>
                    <div class="recipe-right">
                        <div class="right-left">
                            <img src="assets/images/clock.png" />
                            <p class="duration">
                                60min
                            </p>
                        </div>
                        <div class="right-right">
                            <div class="edit">
                                <img src="assets/images/edit.png" />
                            </div>
                            <div class="delete">
                                <img src="assets/images/delete.png" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="dashboard-randomRecipe">

        </div>

    </div>

</div>
