@import '../var.scss';

.dashboard {

    display:flex;
    flex-direction: column;
    width:100%;
    max-width:$maxWidth;

    .dashboard-nav {
        
        display:flex;
        justify-content: space-between;

        a {
            display:flex;
            align-items: center;
            justify-content: center;
            width:46%;
            box-shadow:$boxShadow;
            border-radius:$defaultBorderRadius;
            height:$defaultHeight;
            text-transform:uppercase;
            text-decoration: none;
            border:4px solid $secondmainColor;
            color:$secondmainColor;
            font-size:$titleFontSize;
            font-weight:bold;
            text-align:center;
        }
    }

    .dashboard-recipes {

        display:flex;
        flex-direction: column;
        margin-top:$defaultMargin*2;
        border:4px solid $secondmainColor;
        border-radius:$defaultBorderRadius;
        box-shadow:$boxShadow;

        .recipes-header {

            background-color: $secondmainColor;

            h2 {
                color:$backgroundColor;
                text-align:center;
            }
        }

        .recipes-container {

            padding:$defaultMargin/2 $defaultMargin $defaultMargin $defaultMargin;
            display:flex;
            flex-direction: row;
            flex-wrap:wrap;
            justify-content: space-between;


            .recipe {
                display:flex;
                align-items:center;
                justify-content: space-between;
                margin-top:$defaultMargin/2;
                padding:$defaultMargin/4 0px;
                border-bottom:1px solid $secondmainColor;
                width:48%;

                a {
                    text-decoration: none;
                    color:$mainColor;
                    font-weight:bold;
                }

                .recipe-left {
                    width:50%;
                }

                .recipe-right {
                    display:flex;
                    width:50%;
                    justify-content: space-between;

                    .right-left {
                        display:flex;
                        align-items:center;

                        .duration {
                            margin:0px;
                            margin-left:5px;
                        }
                    }

                    .right-right {
                        display:flex;

                        .edit {
                            margin-right:10px;
                        }
                    }
                }

                img {
                    width:20px;
                }

                @media (max-width:600px) {
                    & {
                        width:100%;
                    }
                }
            }
        }
    }
}

@media (max-width:$maxWidth) {
    .container {
        margin:$defaultMargin*2;
    }
}