<div class="container">

    <div class="add-recipe">

        <div class="add-recipe-nav">
            <a href="/dashboard">
                Revenir à l'accueil
            </a>
            <a routerLink="/recettes">
                Voir toutes les recettes
            </a>
        </div>

        <div class="add-recipe-form">

            <div class="form-header">
                <h2>Ajouter une recette</h2>
            </div>

            <div class="form-container">

                <div class="field">
                    <label for="nom">Nom</label>
                    <input id="nom" type="text" name='nom'>
                </div>

                <div class="field">
                    <label for="duration">Temps de préparation</label>
                    <mat-slider id="duration" thumbLabel [displayWith]="formatLabel" min="5" max="120" step="5" value ="60"></mat-slider>
                </div>

                <div class="field">
                    <label for="portions">Portions</label>
                    <mat-slider id="portions" thumbLabel [displayWith]="formatLabel" min="1" max="10" step="1" value="1"></mat-slider>
                </div>
                
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle (click)='addLien()' value="">Ajouter un lien</mat-button-toggle>
                    <mat-button-toggle (click)='addRecette()' value="">Ajouter une recette</mat-button-toggle>
                </mat-button-toggle-group>

                <div *ngIf="displayLien" class="form-tab">
                    <div class="field">
                        <label for="link">Lien</label>
                        <input id="link" type="text" name='link'>
                    </div>
                </div>

                <div *ngIf="displayRecette" class="form-tab">

                    <div class="tab-ingredients">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Ingrédients</td>
                                    <td>Quantité</td>
                                    <td>Unité</td>
                                </tr>
                                <tr>
                                    <td><input type="text" name='ingredient' placeholder="ingrédient"></td>
                                    <td><input type="text" name='quantité' placeholder="quantité"></td>
                                    <td><input type="text" name='unité' placeholder="unité"></td>
                                </tr>
                                <tr *ngFor="let field of fieldArray; let i = index">
                                    <td><input type="text" name='ingredient' placeholder="ingrédient"></td>
                                    <td><input type="text" name='quantité' placeholder="quantité"></td>
                                    <td><input type="text" name='unité' placeholder="unité"></td>
                                </tr>
                            </tbody>
                        </table>

                        <button (click)="addFieldValue()">+</button>
                        <button (click)="deleteFieldValue()">–</button> 
                    </div>

                    <br/>

                    <div class="tab-instructions">
                        Instructions
                        <br/>

                        <input type="text" name='instruction'>
                        <input *ngFor="let instru of addInstru; let i = index" type="text" name='instruction'>

                        <button (click)="addInstruValue()">+</button>
                        <button (click)="deleteInstruValue()">–</button> 
                    </div>

                </div>

                <button class="add">Ajouter</button>
                
            </div>
        </div>
    </div>
</div>