@import '../var.scss';

.add-recipe {

    display:flex;
    flex-direction: column;
    width:100%;
    max-width:$maxWidth;

    .add-recipe-nav {
        
        display:flex;
        justify-content: space-between;

        a {
            display:flex;
            align-items: center;
            justify-content: center;
            width:46%;
            box-shadow:$boxShadow;
            border-radius:$defaultBorderRadius;
            height:$defaultHeight;
            text-transform:uppercase;
            text-decoration: none;
            border:4px solid $secondmainColor;
            color:$secondmainColor;
            font-size:$titleFontSize;
            font-weight:bold;
            text-align:center;
        }
    }

    .add-recipe-form {

        display:flex;
        flex-direction: column;
        margin-top:$defaultMargin*2;
        border:4px solid $secondmainColor;
        border-radius:$defaultBorderRadius;
        box-shadow:$boxShadow;

        .form-header {

            background-color: $secondmainColor;

            h2 {
                color:$backgroundColor;
                text-align:center;
            }
        }

        .form-container {

            padding:$defaultMargin;
            display:flex;
            flex-direction:column;
            align-items:center;

            .field {
                width:100%;
                display:flex;
                flex-direction:column;
                align-items:center;
                margin-bottom:$defaultMargin;

                label {
                    margin-bottom:$defaultMargin/2;
                    font-weight:bold;
                    font-size:$subtitleFontSize;
                }

                input, mat-slider {
                    width:90%;
                    max-width:400px;
                }
            }

            .form-tab {
                padding:$defaultMargin/2;
            }

            button.add {
                margin-top:$defaultMargin;
                background-color:$backgroundColor;
                color:$mainColor;
                padding:$defaultMargin/4 $defaultMargin/2;
                border-radius:$defaultBorderRadius;
                border:3px solid $mainColor;
                cursor:pointer;
                font-size:$titleFontSize;
                transition:0.3s all ease-in-out;
                font-weight:bold;

                &:hover {
                    background:$mainColor;
                    color:$backgroundColor;
                }
            }
        }
    }
}

@media (max-width:$maxWidth) {
    .container {
        margin:$defaultMargin*2;
    }
}