@import 'app/var.scss';

body {
    margin:0px;
    padding:0px;
    font-family:$fontStack;
}

.container {
    display:flex;
    justify-content: center;
    margin:$defaultMargin*2 0;
}

.mat-h1, .mat-headline, .mat-typography h1 {
    margin:0px;
}

.mat-h2, .mat-title, .mat-typography h2 {
    margin:10px;
}
